# .github/workflows/auto-close-issue.yml
name: Auto Close Issue

on:
  issues:
    types:
      - opened
      - edited
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch: { }

jobs:
  close-inactive:
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/stale@v8
        with:
          days-before-stale: 60
          days-before-close: 0
          stale-issue-message: 'This issue was closed because it has been inactive for 60 days.'
          close-issue-reason: not_planned
